html {
  background: linear-gradient(to bottom, #1e1e1e, #0f1114);
}

.hero {
  background-image: url("../img/WWISGAF_PAGE.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 5rem;
  width: 60%;
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 1.2;
}

.about-header {
  font-size: 3rem;
}

.about-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px auto;
  margin-right: 20px;
}

.about-pic {
  display: block;
  margin: 0 auto;
  grid-column: 1;
  width: 50%;
  align-self: center;
  border-radius: 20px; /* space inside */
  background: linear-gradient(to left, #7575f3, #e6faf0 , #f17474) border-box; /* border gradient */
  border: 8px solid transparent;
}

.about-section {
  grid-column: 2;
  background-color: #181818;
  border-radius: 20px;
  border: solid 3px #E0E0E0;
}

.about-description, .about-header {
  margin: 60px;
}

.about-description{
  text-align: justify;
  line-height: 1.5;
}
.about-socials {
  text-align: center;
  margin-bottom: 30px;
}

.social-icon {
  transition: transform 0.3s;
  margin: 0 15px;
}
#instagram-icon {
  width: 12.5%;
  margin-bottom: 25px;
}
#tiktok-icon {
  width: 12.5%;
  margin-bottom: 20px;
}
#x-icon {
  width: 20%;
}
#soundcloud-icon {
  width: 20%;
  margin-bottom: 40px;
}

#blog {
  width: 80%;
  margin: 50px auto;
}

.blog-content {
  background-color: #181818;
  border-radius: 20px;
  border: solid 3px #E0E0E0;
  padding: 20px;
  margin-bottom: 40px;
}

.blog-title {
  text-align: center;
}

.blog-date {
  margin-left: 50px;
  box-sizing: border-box;
  font-style: italic;
  margin-top: 10px;
}

.blog-text {
  margin: 20px 50px;
  text-align: justify;
  line-height: 1.5;
}

.blog-text p {
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-size: 100%;
    height: 80vh;
    background-position: center;
    padding: 0;
  }

  .header {
    font-size: 4rem;
    width: 90%;
  }

  .about-main {
    grid-template-columns: 1fr;
    margin: 30px auto;
  }
  
  .about-pic, .about-section {
    grid-column: 1;
  }
  
  .about-pic {
    width: 70%;
    margin-bottom: 20px;
  }
  
  .about-section {
    margin: 20px 10px;
  }
  .about-description, .about-header {
    margin: 20px;
  }
  
  #soundcloud-icon {
    width: 20%;
    margin-bottom: 25px;
  }

  .blog-title, .blog-date, .blog-text {
    margin-left: 5px;
    margin-right: 5px;
  }
}